// TODO - add pygments?

@font-face {
  font-family: 'jetbrainsmono';
  src: url('/fonts/JetBrainsMono-Light.woff2') format('woff2')
}

$color_bg: #fce97e;
$color_fg: black;
$fontsize: 14px;
$lineheight: 25px;

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: box;
    max-width: 80ch;
    background-color: $color_bg;
    margin: $lineheight auto 2*$lineheight auto;
    padding: 0 1ch;
    font-family: jetbrainsmono, monospace;
    font-size: $fontsize;
    line-height: $lineheight;
}

.page-heading {
    max-width: 40ch;
    margin: 3*$lineheight auto;
    text-align: center;
    p, h1 {
        margin: 0;
    }
}

h1 {
    font-size: $fontsize;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 3*$lineheight auto;
}

h2 {
    font-size: $fontsize;
    font-weight: normal;
    text-transform: uppercase;
    margin: $lineheight 0;
    padding: 0 0 $lineheight 0;
    display: block;
    position: relative;
    overflow: hidden;

    &::after {
        content: "----------------------------------------------------------------------------------------------------";
        position: absolute;
        bottom: $lineheight;
        left: 0;
        top: $lineheight;
    }
}

h3 {
    font-size: 1em;
    font-weight: normal;
    margin: $lineheight 0;
    position: relative;

    &::before {
        content: "== ";
        display: inline;
    }

    &::after {
        content: " ==";
        display: inline;
    }
}

p {
    margin: 0 0 $lineheight 0;
}

a {
    color: $color-fg;
}

code {
    background-color: #443e1a;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
}

pre {
    position: relative;
    box-sizing: border-box;
    background-color: #443e1a;
    color: white;
    padding: $lineheight 2ch;
    border-radius: 3px;
    overflow: scroll;
    margin: 0 0 $lineheight 0;

    code {
        padding: 0;
    }
}

ul {
    margin: 0 0 $lineheight 0;

    li {
        padding-left: 2ch;
    }

    li::after {
        content: '-';
        position: absolute;
        top: 0;
        left: 0;
    }
}

ol {
    counter-reset: ol;

    li {
        padding-left: 4ch;
    }

    li::after {
        counter-increment: ol;
        content: counter(ol) '.';
        position: absolute;
        top: 0;
        left: 0;
    }
}

li {
    display: block;
    position: relative;
}

nav {
    a {
        text-decoration: none;
    }

    .right {
        float: right;
    }
}

hr {
    position: relative;
    height: $lineheight;
    font-size: 14px;
    line-height: 0;
    overflow: hidden;
    border: 0;
    margin: $lineheight 0ch;

    &:after {
        content: "================================================================================";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        line-height: $lineheight;
        width: 100%;
        word-wrap: break-word;
        color: $color-fg;
    }
}

.list-posts {
    max-width: 60ch;
    margin: 0 auto;

    h2 {
        padding: 0;

        &::after {
            display: none;
        }
    }

    ul {
        margin: 0 0 $lineheight 0;
    }

    a {
        text-decoration: none;
    }
}
