<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-widthl initial-scale=1.0; viewport-fit=cover">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Oliver Lorton</title>
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Oliver Lorton">
    <link rel="stylesheet" href="/css/main.css" >

    <link href="https://twitter.com/olorton" rel="me">
    <link href="https://github.com/olorton" rel="me">
    <link href="mailto:oliverlorton@gmail.com" rel="me">
    <meta name="author" content="@olorton">
</head>
<body>
    {{ content }}

    {% if page.hide_footer != true and post.hide_footer != true %}
    <hr>
    <footer>
        <div class="footer-about">
            <h3>About me</h3>
            <p>I am Oliver Lorton. I pay the bills by building web applications with server-side technologies in open source languages and frameworks.</p>
            <p>If you have any feedback then please do get in touch: <a href="mailto:oliverlorton@gmail.com">oliverlorton@gmail.com</a> or <a href="https://mastodon.org.uk/@olorton">Mastodon</a></p>
        </div>
        <div class="footer-links">
            <h3>Links</h3>
            <ul>
                <li><a href="/">About me</a></li>
                <li><a href="/articles.html">Articles</a></li>
                <li><a href="/atom.xml">RSS</a></li>
            </ul>
        </div>
    </footer>
    {% endif %}
</body>
</html>
