<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-widthl initial-scale=1.0; viewport-fit=cover">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Oliver Lorton</title>
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Oliver Lorton">
    <link rel="stylesheet" href="/css/main.css" >

    <link href="https://twitter.com/olorton" rel="me">
    <link href="https://github.com/olorton" rel="me">
    <link href="mailto:oliverlorton@gmail.com" rel="me">
    <meta name="author" content="@olorton">
</head>
<body>
    <header>
        <nav>
            <a href="/">about/</a>
            <a href="/posts.html">posts/</a>
            <div class="right">
                <a href="https://www.github.com/olorton">github</a>
                <a href="https://mastodon.org.uk/@olorton">mastodon</a>
                <a href="mailto:oliverlorton@gmail.com">email</a>
                <a href="/atom.xml">rss</a>
            </div>
        </nav>
    </header>
    {{ content }}

    {% if page.hide_footer != true and post.hide_footer != true %}
    <hr>
    <footer>
        <div class="footer-about">
            <p>Written by Oliver Lorton. I build things for the web, using mostly open source server-side technologies rather than in the browser.</p>
            <p>I love hearing from real people. If something I wrote was so outrageously bad (or good), or if you just want to say hello, please drop me a line: <a href="mailto:oliverlorton@gmail.com">oliverlorton@gmail.com</a> or <a href="https://mastodon.org.uk/@olorton">Mastodon</a></p>
        </div>
        <hr>
        <nav>
            <a href="/">about/</a>
            <a href="/posts.html">posts/</a>
            <div class="right">
                <a href="https://www.github.com/olorton">github</a>
                <a href="https://mastodon.org.uk/@olorton">mastodon</a>
                <a href="mailto:oliverlorton@gmail.com">email</a>
                <a href="/atom.xml">rss</a>
            </div>
        </nav>
    </footer>
    {% endif %}
</body>
</html>
