---
layout: default
---

<div class="page-heading">
    <h1>{{ page.title }}</h1>
    <p class="published-date">
        <time class="date" datetime="{{page.date | date_to_xmlschema}}">
            {{ page.date | date: "%d %B %Y" }}
        </time>
    </p>
</div>

{% if page.published == "draft" %}
<p>DRAFT - DRAFT - DRAFT - DRAFT - DRAFT - DRAFT - DRAFT - DRAFT</p>
{% endif %}

<article>{{ content }}</article>

{% if page.published == "draft" %}
    <p class="alert alert-warning">this is a draft post - there are probably errors and the url may change</p>
{% endif %}
